<!DOCTYPE html>
<html>
<head>
  <title> T O P * S H O P</title>


  <link th:href="@{/pagecss.css}" rel="stylesheet"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
 
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<a th:href="@{/}" class="navbar-brand"><img src="../images/lgg.png" width="100" alt="logo"></a> 
		
	<button class="navbar-toggler" type="button" data-toggle='collapse' data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a th:href="@{/}" class="nav-link" style="font-family: Geneva, Arial, Helvetica, sans-serif;
 font-size: 15px;">HOME</a>	
			</li>
			<li class="nav-item">
				<a th:href="@{/form}" class="nav-link" style="font-family: Geneva, Arial, Helvetica, sans-serif;
 font-size: 15px;">FORM</a>	
			</li>
			<li class="nav-item">
				<a th:href="@{/garments}" class="nav-link" style="font-family: Geneva, Arial, Helvetica, sans-serif;
 font-size: 15px;">GARMENTS</a>	
			</li>
			
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<h1 style="font-family: Geneva, Arial, Helvetica, sans-serif;
			font-size: 25px; color:whitesmoke; font-weight: bold; ">Successfully signed in! Welcome Zhanylmyrza.</h1>
		</form>
		
	</div>
</nav>




<div class="jumbotron jumbotron-fluid  bg-cover text-center" style="font-family: Geneva, Arial, Helvetica, sans-serif;
 letter-spacing: 10px; line-height: 50px;">
  <div class="container">
    <h1>GET TO NOW THE BRAND</h1> 
    <p>Shop the new collection at wonderfull prices and stock up
on your favorite pieces</p> 
  </div>
</div>

<div class="all">
  <div class="container text-center" style="padding-bottom: 100px;">
    <h3>About our brand and history</h3>    
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</p>
  </div>
</div>

<div class="lastch">
<div class="jumbotron jumbotron bg-#f2f2f2 navbar-light" style="font-family: Geneva, Arial, Helvetica;">
	<div class="container-fluid">
  <div class="row">

    <div class="col" ><img src="../images/sh1.jpg" width="400px" height="310px"></div>
    <div class="col" > <div style="font-family: Geneva, Arial, Helvetica;
 font-size: 20px; letter-spacing: 2px;"> Visit us at our SF Salon</br></div>198 West 21th Street, Suite 721</br>San Francisco SF 10910</br>Email: youremail@yourdomain.com</br>Phone: +88 (0) 101 0000 000</div>
    <div class="col" ><div style="font-family: Geneva, Arial, Helvetica;
 font-size: 20px; letter-spacing: 2px;"> Visit us at our NY Salon</br>
 </div>198 West 21th Street, Suite 721</br>New York NY 10010</br>Email: youremail@yourdomain.com</br>Phone: +88 (0) 101 0000 000</div></div>
  </div>
</div>
</div>  

<div class="text-center">
<a href="facebook.com"><i class="fa fa-facebook" aria-hidden="true" style="margin: 80px;">     FACEBOOK</i></a>
<a href="twitter.com"><i class="fa fa-twitter" aria-hidden="true" style="margin: 80px;">    TWITTER</i></a>
<a href="instagram.com"><i class="fa fa-instagram" aria-hidden="true" style="margin: 80px;">    INSTAGRAM</i></a>
<a href="pinterest.com"><i class="fa fa-pinterest-p" aria-hidden="true" style="margin: 80px;">    PINTEREST</i></a>
</div>






<div class="last">
<div class="jumbotron jumbotron bg-dark navbar-dark" style="font-family: Geneva, Arial, Helvetica; color: white;">
	<div class="container-fluid">
  <div class="row">

    <div class="col" > 198 West 21th Street, Suite 721</br>
New York NY 10010</br>
Email: youremail@yourdomain.com</br>
Phone: +88 (0) 101 0000 000</div>
    <div class="col" > <div style="font-family: Geneva, Arial, Helvetica;
 font-size: 20px; letter-spacing: 2px;"> Corporate Info & Help</br></div>

Careers</br>
About The Brand</br>
Sustainability</br>
Press</div>
    <div class="col"> <div style="font-family: Geneva, Arial, Helvetica;
 font-size: 20px;letter-spacing: 2px;">Frequently Asked Questions</br></div>

Help & Support</br>
Shipping & Returns</br>
Sales & Coupons</br>
Store Locator</div>
  </div>
</div>
</div>
</div>
</div>  






<footer>&#9400; Untitled Design | ePortfolio | 15.03.2018</footer>


</body>
</html>


