<!DOCTYPE html>
<html>
<head>
  <title> T O P * S H O P</title>

  <link th:href="@{/pagecss.css}" rel="stylesheet"/>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
 
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 70%;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a th:href="@{/}" class="navbar-brand"><img src="../images/lgg.png" width="100" alt="logo"></a> 
      
    <button class="navbar-toggler" type="button" data-toggle='collapse' data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a th:href="@{/}" class="nav-link" style="font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;">HOME</a>	
        
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <h1 style="font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 25px; color:whitesmoke; font-weight: bold;"> You just now signed-up... Welcome!!!</h1>
        <!-- <button class="btn btn-outline-success my-2 my-sm-0"> 👻</button> -->
      </form>
      
    </div>
  </nav>

<div class="jumbotron jumbotron-fluid  bg-covered text-center " id="jumbo">
  <div class="container" style="font-family: Geneva, Arial, Helvetica;font-size: 20px; letter-spacing: 2px;">
    <h1>LOOKBOOK 2022/2023 </h1> 
    <p>Shop the new collection at wonderfull prices and stock up
on your favorite pieces.</p> 
  </div>
</div>



    <div class="edimages">
      <div class="kor">
        <img src="../images/tops/1.jpg" height="350">
        <h3>V-neck blouse</h3>
        <h4>Monki Cares</h4>
        <h3>25$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/2.jpg" height="350">
      <h3>NEW! Soft tee</h3>
      <h4></h4>
      <h3>8$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/3.jpg" height="350">
      <h3>Soft tee</h3>
      <h4></h4>
      <h3>8$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/4.jpg" height="350">
      <h3>Oversized Cotton tee</h3>
      <h4>Online Exclusive</h4>
      <h3>10$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/5.jpg" height="350">
      <h3>Cropped tee</h3>
      <h4></h4>
      <h3>6$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/6.jpg" height="350">
      <h3>NEW! Button up blouse</h3>
      <h4>Monki Cares</h4>
      <h3>20$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/7.jpg" height="350">
      <h3>Cropped blouse</h3>
      <h4></h4>
      <h3>20$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/8.jpg" height="350">
      <h3>NEW! Cropped tee</h3>
      <h4></h4>
      <h3>6$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/9.jpg" height="350">
      <h3>Hidden button cotton blouse</h3>
      <h4>Monki Cares</h4>
      <h3>20$</h3>
      </div>
      <div class="kor">
        <img src="../images/tops/10.jpg" height="350">
        <h3>Cropped tee</h3>
        <h4></h4>
        <h3>6$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/11.jpg" height="350">
      <h3>Puffed Sleeved blouse</h3>
      <h4>Online Exclusive</h4>
      <h3>25$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/12.jpg" height="350">
      <h3>NEW! Tie front tee</h3>
      <h4></h4>
      <h3>10$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/13.jpg" height="350">
      <h3>NEW! Flowy blouse</h3>
      <h4></h4>
      <h3>25$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/14.jpg" height="350">
      <h3>NEW! Tie front tee</h3>
      <h4></h4>
      <h3>10$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/15.jpg" height="350">
      <h3>Pleated top</h3>
      <h4>Online Exclusive</h4>
      <h3>20$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/16.jpg" height="350">
      <h3>NEW! Soft cat tee</h3>
      <h4></h4>
      <h3>8$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/17.jpg" height="350">
      <h3>NEW! Short kimono blouse</h3>
      <h4></h4>
      <h3>25$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/18.jpg" height="350">
      <h3>Bee Tee</h3>
      <h4>Online Exclusive</h4>
      <h3>10$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/19.jpg" height="350">
      <h3>Oversized button up blouse</h3>
      <h4></h4>
      <h3>25$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/20.jpg" height="350">
      <h3>NEW! Flowy kaftan</h3>
      <h4></h4>
      <h3>25$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/21.jpg" height="350">
      <h3>NEW! Flowy kaftan</h3>
      <h4></h4>
      <h3>25$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/22.jpg" height="350">
      <h3>Denim Shirt</h3>
      <h4>Monki Cares</h4>
      <h3>30$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/23.jpg" height="350">
      <h3>Frayed hem Denim shirt</h3>
      <h4>Monki Cares</h4>
      <h3>40$</h3>
      </div>
      <div class="kor">
      <img src="../images/tops/24.jpg" height="350">
      <h3>Oversized Fringed tee</h3>
      <h4>Online Exclusive</h4>
      <h3>20$</h3>
      </div>
    </div> 

  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>

<div class="last">
<div class="jumbotron jumbotron bg-dark navbar-dark" style="font-family: Geneva, Arial, Helvetica; color: white;">
  <div class="container-fluid">
  <div class="row">

    <div class="col" > 198 West 21th Street, Suite 721</br>
New York NY 10010</br>
Email: youremail@yourdomain.com</br>
Phone: +88 (0) 101 0000 000</div>
    <div class="col" > <div style="font-family: Geneva, Arial, Helvetica;
 font-size: 20px; letter-spacing: 2px;"> Corporate Info & Help</br></div>

Careers</br>
About The Brand</br>
Sustainability</br>
Press</div>
    <div class="col"> <div style="font-family: Geneva, Arial, Helvetica;
 font-size: 20px;letter-spacing: 2px;">Frequently Asked Questions</br></div>

Help & Support</br>
Shipping & Returns</br>
Sales & Coupons</br>
Store Locator</div>
  </div>
</div>
  </div>
</div>
</div>  
<footer>&#9400; Untitled Design | ePortfolio | 15.03.2018</footer>


</body>
</html>